{% extends "/_base.html" %}

{% block content %}
<div class="w-100 ph2 ph5-ns bb bt b--black-10 mb4">
    {% if not entries.board_info %}
    <a
        class="f4 fw6 b dib ma0 mr3 mt4 mb2 hover-blue link black-70"
        href="#">Board</a>
    {% else %}
    <a
        class="f4 fw6 b dib ma0 mr3 mt4 mb2 hover-blue link black-70"
        href="#">{{ entries.board_info.display_name }}</a>
    <a
        class="f6 link dim br-pill ba ph3 pv2 mb2 dib black"
        href="/board/{{ entries.board_info.name }}/add">Write</a>
    <p>
        {{ entries.board_info.description }}
    </p>
    {% endif %}
</div>
<div class="w-100 ph2 ph5-ns">
    <div class="row">
        <div class="col-md-6">
            {% if not entries.board_info %}
            Board not found
            {% else %}
            <table class="w-100 collapse bt bb br2 b--black-10 pv2 ph3 mt4">
                <colgroup>
                    <col style="width:5%">
                    <col>
                    <col style="width:20%">
                </colgroup>
                <tbody>
                    <tr class="striped--near-white ">
                        <th class="pv2 ph3 tl f6 fw6 ttu">Id</th>
                        <th class="pv2 ph3 tl f6 fw6 ttu">Title</th>
                        <th class="tl f6 ttu fw6 pv2 ph3">Operations</th>
                    </tr>
                    {% for entry in entries.board_list %}
                    <tr class="striped--near-white ">
                        <td class="pv2 ph3">{{ entry.id }}</td>
                        <td class="pv2 ph3">
                            <a
                                href="/entry/{{ entry.uuid }}">
                                <strong>{{ entry.title }}</strong>
                            </a>
                        </td>
                        <td class="pv2 ph3">
                            <a
                                class="f6 link dim br1 ba ph3 pv2 mb2 dib mid-gray"
                                href="/entry/delete/{{ entry.uuid }}">
                                Delete
                            </a>
                            <a
                                class="f6 link dim br1 ba ph3 pv2 mb2 dib mid-gray"
                                href="/entry/update/{{ entry.uuid }}">
                                Edit
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}
